{{ block "error" . }}
<div id="errorModal" class="fixed w-full h-full bg-[rgba(0,0,0,0.2)] left-0 top-0">
    <div class="relative rounded-xl bg-[#2B3544] text-white p-5 mx-auto mt-[5rem] min-w-[10rem] md:min-w-[25rem] w-fit min-h-[10rem] max-h-[80vh] h-fit overflow-y-auto">
        <div class="mb-4">
            <h4 class="text-center font-[600] text-lg mt-2">ERROR</h4>
            <div class="grid absolute right-[0.5rem] top-[0.5rem] text-2xl text-center text-accent-orange p-1 cursor-pointer right-[0.5rem] top-[0.5rem]" onclick="closeModal('errorModal');return false">&#10060;</div>
            <p>{{ . }}</p>            
        </div>
        <p></p>
    </div>
</div>
{{ end }}