{{ define "index.start" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Front Desk</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/gopher-svgrepo-com.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../../static/tailwind.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script>
    function openModal(id) {
        modal = document.getElementById(id)
        modal.classList.remove("hidden")
    }

    function closeModal(id) {
        modal = document.getElementById(id)
        modal.classList.add("hidden")
    }
    </script>
    <script>
    htmx.on("htmx:beforeSwap", (e) => {
        // Allow 422 and 400 responses to swap
        // We treat these as form validation errors
        if (e.detail.xhr.status === 422 || e.detail.xhr.status === 400) {
            e.detail.shouldSwap = true;
            e.detail.isError = false;
        }
    })
    </script>
</head>

<body class="bg-black text-white" hx-boost="true">
    {{ template "header" .}}
    <main>
{{ end }}


{{ define "index.end" }}
    </main>
</body>

</html>
{{ end }}
