{{ block "paychecker" . }}
    <!DOCTYPE html>
    {{ template "pcJs" . }}
    <html lang="pt-br">
        <head>
            <title>Front Desk</title>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="../dist/tailwind.css" />
            <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        </head>
        <body class="bg-black text-white">
            {{ template "pcbody" . }}
        </body>
    </html>
{{ end }} 

{{ block "pcbody" . }}
    <div class="">
        <header>
            <div class="pt-3 pb-3 sticky z-10 top-0 left-0 w-screen bg-[#ff00bb] text-white text-center">
                <h2>Péssima Ideia</h2>
            </div>
        </header>
        <div class="m-auto w-[75vw]">
            {{ template "pcdata" . }}
        </div>
    </div>
{{ end }}

{{ block "pcdata" . }}
    <div>
        {{ template "pcAddNewModal" . }}
        <p class="text-center m-5">Bills</p>
        <hr class="" />
        <div class="m-2 grid grid-cols-[1fr_75vw_1fr] gap-5">
            <div></div>
            <div class="">
                {{ range . }}
                    {{ template "pccard" . }}
                {{ end }}
            </div>
            <div class="pt-5">
                <buttom onclick="openModal('pcAddNewModal')">
                    ADD NEW
                </buttom>
            </div>
        </div>
    </div>
{{ end }}

{{ block "pccard" . }}
    <div class="border border-solid border-[#b3078b] border-[3px] rounded-xl p-3 m-1 hover:shadow-lg hover:shadow-[#f5f5f5]">
        {{ template "pcUploadFile" . }}
        <div id="{{ .Id }}" onclick="changeBottomOpen(this)">
            <div id="top_{{ .Id }}" class="grid grid-cols-3 gap-4">
                <div class="col-span-1 grid">
                    <span class="text-center">Id</span>
                    <span class="text-center"> {{ .Id }}</span>
                </div>
                <div class="col-span-1 grid">
                    <span class="text-center">Description</span>
                    <span class="text-center"> {{ .Description }}</span>
                </div>
                <div class="col-span-1 grid">
                    <span class="text-center">ExpDay</span>
                    <span class="text-center"> {{ .ExpDay }}</span>
                </div>
                <div class="col-span-1 grid">
                    <span class="text-center">Path</span>
                    <span class="text-center"> {{ .Path }}</span>
                </div>
                <div class="col-span-1 grid">
                    <span class="text-center">LastDate</span>
                    <span class="text-center"> {{ .LastDate }}</span>
                </div>
                <div class="col-span-1 grid">
                    <span class="text-center">Track</span>
                    <span class="text-center"> {{ .Track }}</span>
                </div>
            </div>
            <div id="bottom_{{ .Id }}" class="hidden">
                <div class="mr-5 ml-5 grid grid-cols-2 gap-2">
                    <button class="cursor-pointer" onclick="openModal('pcUploadFile')">
                        <p>PAY</p>
                    </button>
                    <button class="cursor-pointer" onclick="flipTrackingBill({{ .Id }})">
                        <p>Flip Tracking Bill</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ end }}

{{ block "pcUploadFile" . }}
<div id="pcUploadFile" class="fixed w-full h-full bg-[rgba(0,0,0,0.2)] left-0 top-0 hidden">
    <div class="backdrop:bg-gray-50 px-2 z-20">
        <div class="relative rounded-xl bg-[#2B3544] text-white p-5 mx-auto mt-[5rem] min-w-[10rem] md:min-w-[25rem] w-fit min-h-[10rem] max-h-[80vh] h-fit overflow-y-auto">
            <div class="mb-4">
                <h4 class="text-center font-[600] text-lg mt-2">Upload</h4>
                <div class="grid absolute right-[0.5rem] top-[0.5rem] text-2xl text-center text-accent-orange p-1 cursor-pointer right-[0.5rem] top-[0.5rem]" onclick="closeModal('pcUploadFile')">&#10060;</div>
                <form  class="form">
                    <div id="upload"></div>
                    <div class="mb-3">
                        <label for="avatarInput" class="form-label">Select Image</label>
                        <input type="file" class="form-control" id="avatarInput" name="avatar" required>
                    </div>
                    <button 
                        class="cursor-pointer"
                        hx-post="/upload" 
                        hx-encoding="multipart/form-data" 
                        hx-target="#upload" 
                        type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ block "pcAddNewModal" . }}
<div id="pcAddNewModal" class="fixed w-full h-full bg-[rgba(0,0,0,0.2)] left-0 top-0 hidden">
    <div class="backdrop:bg-gray-50 px-2 z-20">
        <div class="relative rounded-xl bg-[#2B3544] text-white p-5 mx-auto mt-[5rem] min-w-[10rem] md:min-w-[25rem] w-fit min-h-[10rem] max-h-[80vh] h-fit overflow-y-auto">
            <div class="mb-4">
                <h4 class="text-center font-[600] text-lg mt-2">Create New</h4>
                <div class="grid absolute right-[0.5rem] top-[0.5rem] text-2xl text-center text-accent-orange p-1 cursor-pointer right-[0.5rem] top-[0.5rem]" onclick="closeModal('pcUploadFile')">&#10060;</div>
                <form onsubmit="postNew(this)" class="form grid gap-4">
                    <div class="col-span-1 grid">
                        <span class="text-center">Description</span>
                        <input id="description" class="text-center w-[2/4] bg-black" />
                    </div>
                    <div class="col-span-1 grid">
                        <span class="text-center">ExpDay</span>
                        <input id="expDay" class="text-center w-[2/4] bg-black" />
                    </div>
                    <div class="col-span-1 grid">
                        <span class="text-center">Path</span>
                        <input id="path" class="text-center w-[2/4] bg-black" />
                    </div>
                    <div class="col-span-1 grid">
                        <span class="text-center">Track</span>
                        <input id="track" class="text-center w-[2/4] bg-black" />
                    </div>
                    <div class="grid grid-cols-2">
                        <button class="border border-solid border-[#b3078b]" onclick="closeModal('pcAddNewModal')">
                            CANCEL
                        </button>
                        <button class="bg-[#b3078b]" type="submit">
                            SUBMIT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ block "pcJs" . }}
    <script>
    function changeBottomOpen(element) {
        bottom = document.getElementById(`bottom_${element.id}`)
        console.log(bottom)
        if (bottom.className == "hidden") {
            bottom.classList.remove("hidden")
            return
        }
        bottom.classList.add("hidden")
        return
    }

    function flipTrackingBill(id) {
        fetch(`/payChecker/flipTrack/${id}`,
        { 
            method: 'PUT',
        })
        .then(function(res){ console.log(res) })
        .catch(function(data){ console.log(data) })
    }

    function openModal(id) {
        modal = document.getElementById(id)
        modal.classList.remove("hidden")
    }

    function closeModal(id) {
        modal = document.getElementById(id)
        modal.classList.add("hidden")
    }

    </script>
{{ end }}